/* position of POI-radar*/

.radarContainer_left {
	position:absolute;
	top:35px;
	left:0px;
	width:100px;
	height:100px;
}

.radarContainer_right {
	position:absolute;
	top:35px;
	right:0px;
	width:100px;
	height:100px;
}

.fab {
  width: 60px;
  height: 60px;
  background-color:#bfbfbf;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;

  font-size: 40px;
  line-height: 60px;
  color: white;
  text-align: center;

  position: fixed;
  right: 0.5em;
  bottom: 0.5em;

  text-decoration: none!important;


 transition: all 0.1s ease-in-out;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}


